*{
    padding: 0%;
    margin: 0%;
}

#header{
    height: 100px;
    width: 100%;
    position: fixed;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))
}
#nav{
    height: 100px;
    width: 50%;
    margin-top: 1%;
    display: flex;
    justify-content: space-around;
    margin-left: 50%;
    
}
a{
    font-size: 30px;
    text-decoration: none;
    color: brown;

}
#inn{
    height: 900px;
    width: 100%;
}
.des{
    height: 500px;
    width: 300px;
    border-radius: 2px;
    border-color: red;
}
img{
    height: 300px;
    width: 300px;
    border-radius: 2px;
    border-color: red;
    transition: all 1s;


}
img:hover{
    /* height: 700px;
    width: 700px; */
    transform: scale(1.3);
}
#inside{
    display: grid;
    border-radius: 2px;
    border-color: black;
    margin-left: 40px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    row-gap: 20px;
    column-gap: 20px;

}